/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #2F2F33;
  border: 1px solid #2F2F33;
  border-color: #2F2F33;
  color: #919199;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px; }
  .el-button + .el-button {
    margin-left: 10px; }
  .el-button.is-round {
    padding: 12px 20px; }
  .el-button:hover, .el-button:focus {
    color: #908CFF;
    border-color: #4c4b70;
    background-color: #393847; }
  .el-button:active {
    color: #8683eb;
    border-color: #8683eb;
    outline: none; }
  .el-button::-moz-focus-inner {
    border: 0; }
  .el-button [class*="el-icon-"] + span {
    margin-left: 5px; }
  .el-button.is-plain:hover, .el-button.is-plain:focus {
    background: #2F2F33;
    border-color: #908CFF;
    color: #908CFF; }
  .el-button.is-plain:active {
    background: #2F2F33;
    border-color: #8683eb;
    color: #8683eb;
    outline: none; }
  .el-button.is-active {
    color: #8683eb;
    border-color: #8683eb; }
  .el-button.is-disabled, .el-button.is-disabled:hover, .el-button.is-disabled:focus {
    color: #919199;
    cursor: not-allowed;
    background-image: none;
    background-color: #2F2F33;
    border-color: #2F2F33; }
  .el-button.is-disabled.el-button--text {
    background-color: transparent; }
  .el-button.is-disabled.is-plain, .el-button.is-disabled.is-plain:hover, .el-button.is-disabled.is-plain:focus {
    background-color: #2F2F33;
    border-color: #2F2F33;
    color: #919199; }
  .el-button.is-loading {
    position: relative;
    pointer-events: none; }
    .el-button.is-loading:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255, 255, 255, 0.35); }
  .el-button.is-round {
    border-radius: 20px;
    padding: 12px 23px; }
  .el-button.is-circle {
    border-radius: 50%;
    padding: 12px; }
  .el-button--primary {
    color: #2F2F33;
    background-color: #908CFF;
    border-color: #908CFF; }
    .el-button--primary:hover, .el-button--primary:focus {
      background: #7d79d6;
      border-color: #7d79d6;
      color: #2F2F33; }
    .el-button--primary:active {
      background: #8683eb;
      border-color: #8683eb;
      color: #2F2F33;
      outline: none; }
    .el-button--primary.is-active {
      background: #8683eb;
      border-color: #8683eb;
      color: #2F2F33; }
    .el-button--primary.is-disabled, .el-button--primary.is-disabled:hover, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:active {
      color: #2F2F33;
      background-color: #605e99;
      border-color: #605e99; }
    .el-button--primary.is-plain {
      color: #908CFF;
      background: #393847;
      border-color: #565485; }
      .el-button--primary.is-plain:hover, .el-button--primary.is-plain:focus {
        background: #908CFF;
        border-color: #908CFF;
        color: #2F2F33; }
      .el-button--primary.is-plain:active {
        background: #8683eb;
        border-color: #8683eb;
        color: #2F2F33;
        outline: none; }
      .el-button--primary.is-plain.is-disabled, .el-button--primary.is-plain.is-disabled:hover, .el-button--primary.is-plain.is-disabled:focus, .el-button--primary.is-plain.is-disabled:active {
        color: #6967ad;
        background-color: #393847;
        border-color: #42425c; }
  .el-button--success {
    color: #2F2F33;
    background-color: #52CC85;
    border-color: #52CC85; }
    .el-button--success:hover, .el-button--success:focus {
      background: #4bad75;
      border-color: #4bad75;
      color: #2F2F33; }
    .el-button--success:active {
      background: #4fbc7d;
      border-color: #4fbc7d;
      color: #2F2F33;
      outline: none; }
    .el-button--success.is-active {
      background: #4fbc7d;
      border-color: #4fbc7d;
      color: #2F2F33; }
    .el-button--success.is-disabled, .el-button--success.is-disabled:hover, .el-button--success.is-disabled:focus, .el-button--success.is-disabled:active {
      color: #2F2F33;
      background-color: #417e5c;
      border-color: #417e5c; }
    .el-button--success.is-plain {
      color: #52CC85;
      background: #333f3b;
      border-color: #3d6e54; }
      .el-button--success.is-plain:hover, .el-button--success.is-plain:focus {
        background: #52CC85;
        border-color: #52CC85;
        color: #2F2F33; }
      .el-button--success.is-plain:active {
        background: #4fbc7d;
        border-color: #4fbc7d;
        color: #2F2F33;
        outline: none; }
      .el-button--success.is-plain.is-disabled, .el-button--success.is-plain.is-disabled:hover, .el-button--success.is-plain.is-disabled:focus, .el-button--success.is-plain.is-disabled:active {
        color: #448d64;
        background-color: #333f3b;
        border-color: #364e43; }
  .el-button--warning {
    color: #2F2F33;
    background-color: #FFBB33;
    border-color: #FFBB33; }
    .el-button--warning:hover, .el-button--warning:focus {
      background: #d59f33;
      border-color: #d59f33;
      color: #2F2F33; }
    .el-button--warning:active {
      background: #eaad33;
      border-color: #eaad33;
      color: #2F2F33;
      outline: none; }
    .el-button--warning.is-active {
      background: #eaad33;
      border-color: #eaad33;
      color: #2F2F33; }
    .el-button--warning.is-disabled, .el-button--warning.is-disabled:hover, .el-button--warning.is-disabled:focus, .el-button--warning.is-disabled:active {
      color: #2F2F33;
      background-color: #977533;
      border-color: #977533; }
    .el-button--warning.is-plain {
      color: #FFBB33;
      background: #443d33;
      border-color: #826733; }
      .el-button--warning.is-plain:hover, .el-button--warning.is-plain:focus {
        background: #FFBB33;
        border-color: #FFBB33;
        color: #2F2F33; }
      .el-button--warning.is-plain:active {
        background: #eaad33;
        border-color: #eaad33;
        color: #2F2F33;
        outline: none; }
      .el-button--warning.is-plain.is-disabled, .el-button--warning.is-plain.is-disabled:hover, .el-button--warning.is-plain.is-disabled:focus, .el-button--warning.is-plain.is-disabled:active {
        color: #ac8333;
        background-color: #443d33;
        border-color: #594b33; }
  .el-button--danger {
    color: #2F2F33;
    background-color: #FF6666;
    border-color: #FF6666; }
    .el-button--danger:hover, .el-button--danger:focus {
      background: #d55b5c;
      border-color: #d55b5c;
      color: #2F2F33; }
    .el-button--danger:active {
      background: #ea6161;
      border-color: #ea6161;
      color: #2F2F33;
      outline: none; }
    .el-button--danger.is-active {
      background: #ea6161;
      border-color: #ea6161;
      color: #2F2F33; }
    .el-button--danger.is-disabled, .el-button--danger.is-disabled:hover, .el-button--danger.is-disabled:focus, .el-button--danger.is-disabled:active {
      color: #2F2F33;
      background-color: #974b4d;
      border-color: #974b4d; }
    .el-button--danger.is-plain {
      color: #FF6666;
      background: #443538;
      border-color: #824547; }
      .el-button--danger.is-plain:hover, .el-button--danger.is-plain:focus {
        background: #FF6666;
        border-color: #FF6666;
        color: #2F2F33; }
      .el-button--danger.is-plain:active {
        background: #ea6161;
        border-color: #ea6161;
        color: #2F2F33;
        outline: none; }
      .el-button--danger.is-plain.is-disabled, .el-button--danger.is-plain.is-disabled:hover, .el-button--danger.is-plain.is-disabled:focus, .el-button--danger.is-plain.is-disabled:active {
        color: #ac5052;
        background-color: #443538;
        border-color: #593a3d; }
  .el-button--info {
    color: #2F2F33;
    background-color: #909399;
    border-color: #909399; }
    .el-button--info:hover, .el-button--info:focus {
      background: #7d7f85;
      border-color: #7d7f85;
      color: #2F2F33; }
    .el-button--info:active {
      background: #86898f;
      border-color: #86898f;
      color: #2F2F33;
      outline: none; }
    .el-button--info.is-active {
      background: #86898f;
      border-color: #86898f;
      color: #2F2F33; }
    .el-button--info.is-disabled, .el-button--info.is-disabled:hover, .el-button--info.is-disabled:focus, .el-button--info.is-disabled:active {
      color: #2F2F33;
      background-color: #606166;
      border-color: #606166; }
    .el-button--info.is-plain {
      color: #909399;
      background: #39393d;
      border-color: #56575c; }
      .el-button--info.is-plain:hover, .el-button--info.is-plain:focus {
        background: #909399;
        border-color: #909399;
        color: #2F2F33; }
      .el-button--info.is-plain:active {
        background: #86898f;
        border-color: #86898f;
        color: #2F2F33;
        outline: none; }
      .el-button--info.is-plain.is-disabled, .el-button--info.is-plain.is-disabled:hover, .el-button--info.is-plain.is-disabled:focus, .el-button--info.is-plain.is-disabled:active {
        color: #696b70;
        background-color: #39393d;
        border-color: #424347; }
  .el-button--medium {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px; }
    .el-button--medium.is-round {
      padding: 10px 20px; }
    .el-button--medium.is-circle {
      padding: 10px; }
  .el-button--small {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px; }
    .el-button--small.is-round {
      padding: 9px 15px; }
    .el-button--small.is-circle {
      padding: 9px; }
  .el-button--mini {
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 3px; }
    .el-button--mini.is-round {
      padding: 7px 15px; }
    .el-button--mini.is-circle {
      padding: 7px; }
  .el-button--text {
    border-color: transparent;
    color: #908CFF;
    background: transparent;
    padding-left: 0;
    padding-right: 0; }
    .el-button--text:hover, .el-button--text:focus {
      color: #7d79d6;
      border-color: transparent;
      background-color: transparent; }
    .el-button--text:active {
      color: #8683eb;
      border-color: transparent;
      background-color: transparent; }
    .el-button--text.is-disabled, .el-button--text.is-disabled:hover, .el-button--text.is-disabled:focus {
      border-color: transparent; }

.el-button-group {
  display: inline-block;
  vertical-align: middle; }
  .el-button-group::before,
  .el-button-group::after {
    display: table;
    content: ""; }
  .el-button-group::after {
    clear: both; }
  .el-button-group > .el-button {
    float: left;
    position: relative; }
    .el-button-group > .el-button + .el-button {
      margin-left: 0; }
    .el-button-group > .el-button.is-disabled {
      z-index: 1; }
    .el-button-group > .el-button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .el-button-group > .el-button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .el-button-group > .el-button:first-child:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
      .el-button-group > .el-button:first-child:last-child.is-round {
        border-radius: 20px; }
      .el-button-group > .el-button:first-child:last-child.is-circle {
        border-radius: 50%; }
    .el-button-group > .el-button:not(:first-child):not(:last-child) {
      border-radius: 0; }
    .el-button-group > .el-button:not(:last-child) {
      margin-right: -1px; }
    .el-button-group > .el-button:hover, .el-button-group > .el-button:focus, .el-button-group > .el-button:active {
      z-index: 1; }
    .el-button-group > .el-button.is-active {
      z-index: 1; }
  .el-button-group > .el-dropdown > .el-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--primary:first-child {
    border-right-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--primary:last-child {
    border-left-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--primary:not(:first-child):not(:last-child) {
    border-left-color: rgba(47, 47, 51, 0.5);
    border-right-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--success:first-child {
    border-right-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--success:last-child {
    border-left-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--success:not(:first-child):not(:last-child) {
    border-left-color: rgba(47, 47, 51, 0.5);
    border-right-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--warning:first-child {
    border-right-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--warning:last-child {
    border-left-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--warning:not(:first-child):not(:last-child) {
    border-left-color: rgba(47, 47, 51, 0.5);
    border-right-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--danger:first-child {
    border-right-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--danger:last-child {
    border-left-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--danger:not(:first-child):not(:last-child) {
    border-left-color: rgba(47, 47, 51, 0.5);
    border-right-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--info:first-child {
    border-right-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--info:last-child {
    border-left-color: rgba(47, 47, 51, 0.5); }
  .el-button-group .el-button--info:not(:first-child):not(:last-child) {
    border-left-color: rgba(47, 47, 51, 0.5);
    border-right-color: rgba(47, 47, 51, 0.5); }

.el-calendar {
  background-color: #fff; }
  .el-calendar__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #2F2F33; }
  .el-calendar__title {
    color: #000000;
    -ms-flex-item-align: center;
    align-self: center; }
  .el-calendar__body {
    padding: 12px 20px 35px; }

.el-calendar-table {
  table-layout: fixed;
  width: 100%; }
  .el-calendar-table thead th {
    padding: 12px 0;
    color: #919199;
    font-weight: normal; }
  .el-calendar-table:not(.is-range) td.prev,
  .el-calendar-table:not(.is-range) td.next {
    color: #919199; }
  .el-calendar-table td {
    border-bottom: 1px solid #2F2F33;
    border-right: 1px solid #2F2F33;
    vertical-align: top;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease; }
    .el-calendar-table td.is-selected {
      background-color: #F2F8FE; }
    .el-calendar-table td.is-today {
      color: #908CFF; }
  .el-calendar-table tr:first-child td {
    border-top: 1px solid #2F2F33; }
  .el-calendar-table tr td:first-child {
    border-left: 1px solid #2F2F33; }
  .el-calendar-table tr.el-calendar-table__row--hide-border td {
    border-top: none; }
  .el-calendar-table .el-calendar-day {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    height: 85px; }
    .el-calendar-table .el-calendar-day:hover {
      cursor: pointer;
      background-color: #F2F8FE; }
